.social-toolbar{
  margin: 16px;
  display: flex;
  align-items: center;
  .social-label{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    max-width: 120px;
    margin: 0;
  }
  .social-button{
    display: block;
    margin: 0 auto;
    color: rgba(white, 0.5);
    .social-icon{
      height: 24px;
      // width: 24px;
      margin:0 auto;
    }
  }
}
