<mat-tab-group class="tabs-container">
  <mat-tab>
      <ng-template mat-tab-label class="tab-label">
          <!-- <mat-icon>smartphone</mat-icon> -->
          Mobile Apps
        </ng-template>
    <app-tab-apps></app-tab-apps>
  </mat-tab>
  <mat-tab>
      <ng-template mat-tab-label class="tab-label">
          <!-- <mat-icon>book</mat-icon> -->
          Books
        </ng-template>
    <app-tab-books></app-tab-books>
  </mat-tab>
  <mat-tab>
      <ng-template mat-tab-label class="tab-label">
          <!-- <mat-icon>assignment</mat-icon> -->
          Scoring Sheets
        </ng-template>
    <app-tab-scoring-sheets></app-tab-scoring-sheets>
  </mat-tab>
</mat-tab-group>

