.app-container {
  max-width: 500px;
  min-width: 300px;
  margin: 8px auto;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  .atlas-logo {
    width: 100%;
    margin: 0 auto;
  }
  .roswell-logo {
    width: 200px;
    margin: 8px auto;
  }
}
