<md-tab-group color="accent" class="tab-group">
    <md-tab *ngFor="let tab of tabs" [disabled]="tab.disabled" >
      <ng-template md-tab-label color="primary">
        <md-icon>{{tab.icon}}</md-icon>
        {{tab.name}}
      </ng-template>
      <div *ngFor="let item of items">
      <md-card class="item" *ngIf="item.type===tab.type">
        <md-card-header>
          <img [src]="item.icon" md-card-avatar />
          <md-card-title>{{item.name}}</md-card-title>
          <md-card-subtitle>{{item.description}}</md-card-subtitle>
        </md-card-header>
        <md-card-actions *ngIf="item.type===itemTypes.MobileApp">
          <a [href]="item.links.ios" md-button target="_blank" class="store-badge">
            <img src="../assets/app-store-badges/ios.svg" />
          </a>
          <a [href]="item.links.android" md-button target="_blank" class="store-badge">
            <img src="../assets/app-store-badges/android.png" />
          </a>
        </md-card-actions>
        <md-card-actions *ngIf="item.type===itemTypes.ScoreSheet">
          <a md-raised-button [href]="item.links.download_url" [download]="item.name+'_ScoreSheet.pdf'" [disabled]="item.disabled" color="primary">
            <md-icon>file_download</md-icon>
            <span>DOWNLOAD</span>
          </a>
          
          <button md-button (click)="openEmail(item)" color="light" [disabled]="item.disabled">
            <md-icon>email</md-icon>
            EMAIL
          </button>
          <!--<a md-button [href]="getMailtoString(item)" color="light">
            <md-icon>email</md-icon>
            EMAIL
          </a>-->
        </md-card-actions>
        <md-card-actions *ngIf="item.type===itemTypes.WebApp">
          <a md-raised-button [href]="item.links.url" color="primary">Go To Page</a>
          <a md-button [href]="item.url" color="primary">Copy URL</a>
        </md-card-actions>
      </md-card>
      </div>
    </md-tab>
  </md-tab-group>