.tab-group {
  margin-top: 8px;
}

.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: 0px solid transparent !important;
}

.mat-tab-labels {
  justify-content: center;
}

md-tab-body.mat-tab-body {
  margin-top: 8px;
  justify-content: center;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-tab-label {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  min-width: 100px;
  font-size: 14px;
  font-weight: 200;
}

@media(max-width:320px) {
  .mat-tab-label {
    // font-size: 15px;
  }
}

@media(max-width:400px) {
  .mat-tab-label {
    min-width: 100px;
    font-size: 12px !important;
    font-weight: 200;
  }
}

md-card.item {
  width: 100%;
  min-width: 280px;
  max-width: 350px;
  margin: 8px auto;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
  md-card-header {
    .mat-card-avatar {
      height: 80px;
      width: 80px;
      border-radius: 2px;
      flex-shrink: 0;
    }
    md-card-title {
      font-size: 20px !important;
      font-weight: 500 !important;
      opacity: 0.75 !important;
    }
    md-card-subtitle {
      margin-top: -16px !important;
    }
  }
}

.store-badge {
  width: 135px !important;
  height: 40px !important;
  padding: 0 !important;
  overflow: hidden !important;
  //   display: inline-block;
  img {
    width: 100%;
    height: 100%;
    display: block; //     width: 142px;
    // height: 37px;
  }
}
