<div ng-init="recordView()">
  <img class="atlas-logo center-block" src="images/atlas-logo.jpeg" />
  <hr />
  <div class="row">
    <div class="app-logo-container">
      <img class="app-logo center-block" src="images/bcg_icon.png" />
    </div>
    <h2 class="app-title">BCG Treatment</h2>
    <p class="app-subtitle">For Bladdar Cancer Patients</p>
    <div class="row  badge-container">
      <div class="col-xs-6">
        <a href="https://play.google.com/store/apps/details?id=org.roswellpark.theatlasprogram.bcg" class="badge-android" ng-click="recordClick('android','bcg')"></a>
      </div>
      <div class="col-xs-6">
        <a href="https://geo.itunes.apple.com/us/app/bcg-treatment/id948407412?mt=8" class="badge-ios" ng-click="recordClick('ios','bcg')"></a>
      </div>
    </div>
    <hr />
    <div class="app-logo-container">
      <img class="app-logo  center-block" src="images/pelvicrehab_icon.png" />
    </div>
    <h2 class="app-title">Pelvic Rehab</h2>
    <p class="app-subtitle">For Prostatectomy Patients</p>
    <div class="row  badge-container">
      <div class="col-xs-6">
        <a href="https://play.google.com/store/apps/details?id=org.roswellpark.theatlasprogram.pelvicrehab" class="badge-android" ng-click="recordClick('android','pelvicRehab')">
        </a>
      </div>
      <div class="col-xs-6">
        <a href="" class="badge-ios badge-ios-disabled" ng-click="recordClick('ios','pelvicRehab')" disabled></a>
        <div class="col-centered">
          <p>The iOS app is in the Appstore review process. It will be publically available the <strong>Week of May 16, 2016!</strong></p>
          <p>Check back later or provide us with your email and we will remind you of its release.</p>
          <div class="container-fluid">
          <form class="form" ng-submit="registerEmail('pelvicRehab')">
            <input type="email" class="form-control email" ng-model="userEmail" placeholder="Email" required />
            <p/>
            <button type="submit" class="btn btn-default btn-block">Register</button>
            <br />
            <br />
            <div class="alert alert-success col-xs-12 col-centere" role="alert" ng-show="registrationDone && appRegistered === 'pelvicRehab'">Email Registered !</div>
          </form>
        </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="app-logo-container">
      <img class="app-logo center-block" src="images/pace_icon.png" />
    </div>
    <h2 class="app-title">PACE</h2>
    <p class="app-subtitle">Prostatectomy Assessment</p><p class="app-subtitle">Competency Evaluation</p>
    <div class="row  text-center">
      <div class="col-sm-9 col-centered">
        <p>PACE is currently under development and is scheduled for a beta release by the <strong>End of Summer, 2016.</strong></p>
        <p>Provide us with your email and we will send you a reminder when its released.</p>
      </div>
    </div>
    <div class="row">
      <form class="form-inline row col-xs-9 col-centered" ng-submit="registerEmail('pace')">
        <input type="email" class="form-control email col-xs-8" ng-model="userEmail" placeholder="Email" required />
        <button type="submit" class="btn btn-default col-xs-4">Register</button>
        <br />
        <br />
        <div class="alert alert-success col-xs-12 col-centered" role="alert" ng-show="registrationDone && appRegistered === 'pace'">Email Registered !</div>
      </form>


    </div>
  </div>
  <br />
  <hr />
  <img class="rpci-logo center-block" src="images/rpci-logo.png"/>
</div>
